<!DOCTYPE html>
<html lang="en">

<head>
    {{>headder}}
</head>

<body>
    {{>navbar}}


    <div class="container-fluid main_headder">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_headder_left  align-items-center">
                        <figure>
                            <img src="images/error.png" alt="jasveer" class="img_error" title="jasveer_img">
                        </figure>
                        <p>404 error msg please go back to the home page</p>
                        <h1>To Go back click on the following button</h1>
                        <a href="/"><button>go back</button></a>

                    </div>

                   

                </div>

            </div>
        </div>
    </div>


  {{>footer}}

</body>


</html>