<!DOCTYPE html>
<html lang="en">

<head>
    {{>headder}}
</head>

<body>
    {{>navbar}}


    <div class="container-fluid main_headder">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_headder_right  align-items-center">
                        <figure>
                            <img src="images/back.png" alt="jasveer" class="img-fluid" title="jasveer_img">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_headder_left">
                        <p>Hi, i am Jasveer singh I am a engineering graduate and a backend developer</p>
                        <h1>To know <span class="text_clr">about me </span> click on following link</h1>
                        <a href="https://www.linkedin.com/in/jasveer-singh-09857016a/"><button>about me</button></a>
                    </div>
                   

                </div>

            </div>
        </div>
    </div>


  {{>footer}}

</body>


</html>