<!DOCTYPE html>
<html lang="en">

<head>
    {{>headder}}
</head>

<body>

    {{>navbar}}


    <div class="container-fluid main_headder">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto align-center">
                
                    <div class="main_content">
                        <form class="temp_form">
                            <input type="text" id="cityName" placeholder="enter your city name" maxlength="25"  autocomplete="off">
                            <input type="submit" value="search" id="submitBtn">
                        </form>
                    </div>

                    <div clas="tempinfo">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_data">13 OCT</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name" style="color:white;">get output</p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span>0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>
                        </div>

                    </div>



                

            </div>
        </div>
    </div>


    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuessss";
        weekday[3] = "Wed";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];
        let day=document.getElementById('day')
        day.innerText=days;
          
      };
      getCurrentDay();
    </script>
  

</body>


</html>
